/* Geral */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

@media (max-width: 990px) {
  .servico {
    margin: 0 !important;
    margin-bottom: 45px !important;
  }
}
@media (max-width: 775px) {
  #background-video {
    display: none;
  }
  .index-main h1 {
    margin-top: 0;
  }
  .trabalhos h2 {
    font-size: 36px;
  }
  .trabalhos h3 {
    text-align: center;
  }
  .trabalho {
    margin-bottom: 0 !important;
  }
}

body {
  background-color: #f1efe7;
  font-family: "Inter", sans-serif;
  color: black;
}

main {
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;
  font-family: "Ubuntu", sans-serif;
}
h2 {
  font-size: 2.3rem;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 5px 5px 10px rgba(7, 7, 7, 0.4);
  margin-top: 50px;
  margin-bottom: 40px;
}
p {
  font-size: 17px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
}
ul {
  list-style-type: none;
}
footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1efe7;
  text-align: center;
  padding: 15px;
}

.nav-link {
  font-size: 18px;
  margin-right: 25px;
}
.bg-light {
  background-color: #f1efe7 !important;
}
